@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

body {
    font-family: "Passion One";
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    
    
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 95px);
    padding: 0px 20px;
    
}
.header {
    margin-bottom: 100px;
}
.header h1 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    color: white;
}
@media(max-width:768px){
    .header h1{
        font-size: 3rem;
    }
    
}
@media(max-width:375px){
    .header h1{
        font-size: 2rem;
    }
    
}
.header p {
    font-size: 1rem;
    color: white;
    margin: 0;
    font-weight:700;
    opacity: 0.5;
}
.categories {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    
}
.category {
    width: 250px;
    flex: 1, 0;
    background-color: rgba(255, 255, 255, 0.25);
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 1000;
    color: #000;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
        
}
.category:hover {
    transform: scale(1.1);
}

.category img{
    width: 80%;
    margin: 20px;
}

.logo-sound{
    display: flex;
    justify-content:space-between;
    padding: 10px 20px; 
}
.logo {
    display: flex;
}
.logo img {
    width: 50px;
    height: 50px;
}
.sound-icon {
    display: flex;
    clip-path: polygon(3% 0, 100% 0, 100% 95%, 7% 100%, 0% 38%);
}
.sound-icon img {
    width: 20px;
    height: 20px;
    background-color: yellow;
    padding: 8px;
}

footer{
    font-weight: 600;
    color: #888;
}